$break1: "(max-width: 599px)";
$break2_1: "(min-width: 600px) and (max-width: 950px)";
$break2: "(min-width: 951px) and (max-width: 1299px)";
$break3: "(min-width: 1300px) and (max-width: 1499px)";
$break4: "(min-width: 1500px)";
