$ff-serif: "Roboto Slab", serif;
$ff-sans: "Lato", sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 900;

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
